{{#link-to 'index'}}Home{{/link-to}}

<h2>About:</h2>
<p>
  EpiGrind was created just now because we felt the pressures of Epicodus while attending school, especially during the week of AngularJS.
</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
